
.example-headers-align {
    .mat-expansion-panel-header-description{
        justify-content: space-between;
        align-items: center;
    }
    .mat-mdc-form-field + .mat-mdc-form-field {
        margin-left: 8px;
      }
      .mat-expansion-panel-header-description {
        flex-grow: unset;
    }
    .mat-expansion-panel-header-title{
        flex-grow: 1;
    }
    .mat-expansion-panel-header-description{
        margin-right: unset;
    }
    .mat-expansion-panel-header{
        justify-content: space-between;
    }
    .title{
        color: rgba(0,0,0,.54);
        font-weight: bold;
    }
}


